<?xml version="1.0" encoding="UTF-8"?>
<!-- Myvatis의 매퍼(XML Mapper)파일임을 선언. MyBatis는 SQL 매핑파일을 매퍼라고 부름 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member"><!-- 매퍼파일에 속하는  네임스페이스 지정 -->
	<!-- parameterType속성은 쿼리에 전달되는 매개변수 타입을 지정. member라는 별칭을 가진 객체를 전달 -->
    <insert id="save" parameterType="member"><!-- save라는 식별자(id)를 가진 쿼리를 정의 -->
        insert into member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>


    <!-- 
        select 쿼리를 정의.
        id="login"은 쿼리의 식별자.
        parameterType="member"는 쿼리에 전달되는 매개 변수의 유형을 지정.
        resultType="member"는 쿼리의 결과로 반환되는 객체의 유형을 지정.
        이 쿼리는 member_table에서 memberEmail과 memberPassword에 해당하는 회원을 검색.
    -->    
    <select id="login" parameterType="member" resultType="member">
        select * from member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
    
    <!-- member_table의 모든열을 선택하는 쿼리. id= findAll정의 -->
    <select id="findAll" resultType="member" >
    	select * from member_table;
    </select>
    
    <!-- id로 정보를 조회 하는 쿼리. id 속성은 findById -->
    <select id="findById" parameterType="Long" resultType="member" >
    	select * from member_table where id=#{id}
    </select>
    
    <delete id="delete" parameterType="Long" >
    	delete from member_table where id = #{id}
    </delete>
</mapper>