<?xml version="1.0" encoding="UTF-8"?>
<!-- Myvatis의 매퍼(XML Mapper)파일임을 선언. MyBatis는 SQL 매핑파일을 매퍼라고 부름 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member"><!-- 매퍼파일에 속하는  네임스페이스 지정 -->
	<insert id="save" parameterType="member"><!-- save라는 식별자(id)를 가진 쿼리를 정의 -->
	<!-- parameterType속성은 쿼리에 전달되는 매개변수 타입을 지정. member라는 별칭을 가진 객체를 전달 -->
        insert into member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
	</insert>
</mapper>